@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif,Verdana, Geneva, Tahoma, sans-serif;

}
.a {
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/2663226_19.jpg);
}
.nav{
    width: 100vw;
    height: 50px;
    color: Black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(172, 172, 172, 0.2);
    margin: 10px;
}
.logo > a{
    font-weight: 600;
    font-size: 26px;
    
}
nav a {
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
}

h1{
    position: absolute;
    top: 150px;
    left: -260px;
    animation-name: h1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  
}
@keyframes h1 {
    from {left: -260px;}
    to {left: 200px; }
}

h2 {
    position: absolute;
    top: 200px;
    left: -460px;
    animation-name: h2;
    animation-duration: 6s;
    animation-fill-mode: forwards;

}

@keyframes h2 {
    from {left: -460px;}
    to {left: 250px; }
}